

.cti-area {
    text-align: center;
    i{
      color: $common_color;
      font-size: 80px;
      margin-bottom: 20px;
    }
    h4 {
      font-size: 40px;
      line-height: 50px;
      color: $common_color;
      text-transform: capitalize;
  }
  p {
    color: #fff;
    margin: 10px 0 25px;
}
  
}






